<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{% static 'serviceworker.js' %}')
            .then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(error) {
                console.log('ServiceWorker registration failed: ', error);
            });
        }
    </script>

</head>
<body>

</body>
</html>