[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xhtml2pdf = "*"
django = "*"
django-pwa = "*"
python-decouple = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
